h1 {
	color: #0b3865 !important;
	font-family: Corbel;
	text-align: center;
	font-size: 50px;
	margin-bottom: 0px;
	font-weight: bold;
}

body {
	font-family: Corbel;
	text-align: center;
	/* 	background-image: url("11.jpg"); */
}

.width10{
	width: 200px;
	float: left;
	text-align: left;
	margin: auto;
}
form {
	text-align: center;
}

#checkboxes{
	text-align: center;
	margin: auto;

}

label,
#places input {
	width: 300px;
	margin: 10px;
	padding: 8px;
	font-family: Corbel;
}

button {
	padding: 12px;
	width: 130px;
	margin: 10px;
	border-color: #0b3865 !important;
	background-color: #0b3865;
	color: #FFF;
	border: 1px;
	border-style: solid;
	border: 1px;
	margin: 10px;
	/*font-family: AppleGothic;*/
}